@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root {
  --monts: 'Montserrat', sans-serif;
  --vBlue: hsl(240, 78%, 98%);
  --lBlue: hsl(234, 14%, 74%);
  --gBlue: hsl(233, 13%, 49%);
  --dBlue: hsl(232, 13%, 33%);
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--vBlue);
  font-family: var(--monts);
  font-size: 15px;
}

header {
  margin: 30px 0px;
  text-align: center;
}

header h1 {
  color: var(--gBlue);
  margin-bottom: 30px;
}

header span {
  color: var(--lBlue);
  margin-bottom: 40px;
}

section {
  width: 250px;
  background-color: white;
  box-shadow: 0px 0px 10px 10px rgb(0, 0, 0, 0.02);
  border-radius: 5px;
  text-align: center;
  color: var(--dBlue);
  padding: 30px;
  margin-bottom: 30px;
}

section h2 {
  font-size: 15px;
  margin-bottom: 20px;
}

.price {
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  margin-bottom: 25px;
}

.price strong {
  font-size: 60px;
}

ul {
  list-style: none;
  gap: 10px;
  border-bottom: 1px solid var(--lBlue);
  margin-bottom: 30px;
}

li {
  padding: 15px 0px;
  border-top: 1px solid var(--lBlue);
}

button {
  font-family: inherit;
  width: 100%;
  padding: 10px;
  background-image: linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background-image: none;
  background-color: transparent;
  color: hsl(237, 63%, 64%);
  border-color: var(--dBlue);
}

.pro {
  background-image: linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.01);
}

.pro button {
  background-image: none;
  background-color: white;
  color: hsl(237, 63%, 64%);
}

.pro button:hover {
  background-color: transparent;
  color: white;
  border-color: white;
}